* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin: 30vh;
    line-height: 1.5;
}

#email {
    width: 100%;
}

#thema {
    width: 100%;
}

.button {
    width: 100%;
    background-color: aquamarine;
    border-radius: 5px;
}

.button:hover {
    background-color: black;
    color: white;
}